{% if categories[0] is defined %}
    {% for category in categories %}
        <a class="dropdown-item" href="{{ path('showCategory', {'id': category.id}) }}">{{ category.name }}</a>
    {% endfor %}
{% endif %}