{% extends 'base.html.twig' %}

{% block body %}
<div class="site-block">
	<div class="title-site"><strong>Обратная связь</strong></div>
	<div class="info-site">
	    Контакты для связи с администратором сайта:<br/>
	    Email: <strong>nicknixer</strong> [doooog] <strong>gmail.com</strong><br />
	</div>
</div>
{% endblock %}
