{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-block">
        <div class="title-site"><b>Добро пожаловать в белый каталог сайтов!</b></div>
        <div class="info-site">
            Перед вами модерируемый <strong>белый каталог сайтов</strong>.<br />
            В рунете тысячи белых каталогов сайтов, но этот <strong>особенный</strong>!<br />
            Вы совершенно бесплатно можете <strong>добавить свой сайт в каталог</strong> и он появится в списке.<br />
            Добавление сайта в белый каталог позволяет совершенно бесплатно получить обратную ссылку на ваш сайт!<br />
            Это очень полезно для SEO-оптимизации вашего сайта.<br />
            Вперед! Добавьте свой сайт.
        </div>
    </div>

{% endblock %}