{% extends 'base.html.twig' %}

{% block body %}
<div class="site-block">
        <div class="title-site"><strong>Правила добавления сайтов в каталог</strong></div>
        <div class="info-site">
            <strong>Запрещенные к добавлению сайты:</strong><br />
            1. Нерусскоязычные сайты<br />
            2. Сайты, содержащие информацию, которую запрещено распространять на территории Российской Федерации <br />
            3. Заброшенные сайты, на которых давно не обновляется информация<br />
            4. Сайты, находящиеся еще в стадии разработки<br/>
            5. Сайты, содержащие высплывающую и навязывающуюся рекламу<br />
            6. Сайты, вводящие в заблуждение пользователей.<br />
            <strong>Требования к описанию сайтов:</strong><br />
            1. Заголовок должен соответствовать заголовку главной страницы сайта<br/>
            2. Необходимо выбирать категорию максимально близко соответствующую категории сайта<br />
            3. Описание сайта должно быть уникальным, не содержать ссылок и рекламной информации<br/>
            4. Модератор оставляет за собой право исправлять и изменять описание сайта, екатегорию и прочую информацию.

        </div>
   </div>
{% endblock %}
