{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - О сайте{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
	<li class="breadcrumb-item active">О сайте</li>
{% endblock %}
{% block body %}
<div class="site-block">
	<div class="title-site"><strong>Реклама в белом каталоге сайтов</strong></div>
	<div class="info-site">
	    Перед вами модерируемый <strong>белый каталог сайтов</strong>.<br />
	    Возможные виды рекламы:<br />
	    1. Размещение сайта на первом месте в категории. <br />
	    2. Размещение сайта на главной странице каталога. <br />
	    Если вас интересует размещение рекламы в белом каталоге сайтов - свяжитесь с администратором в разделе <a href="{{ path('feedback') }}">обратной связи</a>.<br />

	</div>
</div>
{% endblock %}
