{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Обратная связь{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    <li class="breadcrumb-item">Обратная связь</li>
{% endblock %}
{% block body %}
    <div class="site-block">
        <div class="title-site"><strong>Обратная связь</strong></div>
        <div class="info-site">
            Спасибо, {{ name }}, ваше сообщение успешно отправлено!
        </div>
    </div>
{% endblock %}
