{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Обратная связь{% endblock %}
{% block breadcrumbs %}
    {{ parent() }}
    <li class="breadcrumb-item">Обратная связь</li>
{% endblock %}
{% block body %}
    <h1>Обратная связь</h1>
    <div class="info-site">
        Спасибо, {{ name }}, ваше сообщение успешно отправлено!
    </div>
{% endblock %}
