<div class="left-side-menu">Категории каталога</div>
<div class="left-side-items">
    <a href="#">Категория 1</a> (4)
</div>
<div class="left-side-menu">Статистика каталога</div>
<div class="left-side-items">
    <span class="color-corn">Добавлено сайтов:</span> {{ sitesAmount }}
</div>
<!--
<div class="left-side-items">
    <span class="color-corn">Комментариев:</span> 0
</div>
-->
<div class="left-side-items">
    <span class="color-corn">Последний сайт:</span>
    <a style="text-decoration: underline;" href="#">ХХХ</a>
</div>